{% extends "base.html" %}

{% block title %}{{ room }}{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    window.room = "{{ room.id }}";
</script>
<script src="/static/js/chat.js"></script>
{% endblock %}

{% block content %}
<div id="chat">
    <div id="nickname">
        <form id="set-nickname" class="wrap">
            <p>Please type in your nickname and press enter.</p>
            <input id="nick">
            <p id="nickname-err">Nickname already in use</p>
        </form>
    </div>
    <div id="connecting">
        <div class="wrap">Connecting to socket.io server</div>
    </div>

    <div id="messages">
        <div id="nicknames"><span>Online:</span></div>
        <div id="lines"></div>
    </div>

    <div id="results">
    </div>

    <div id="numbers">
        <button data-value="?" class="number-button">?</button>
        <button data-value="0" class="number-button">0</button>
        <button data-value="1" class="number-button">1</button>
        <button data-value="2" class="number-button">2</button>
        <button data-value="3" class="number-button">3</button>
        <button data-value="5" class="number-button">5</button>
        <button data-value="8" class="number-button">8</button>
        <button data-value="13" class="number-button">13</button>
        <button data-value="&infin;" class="number-button">&infin;</button>
        <button id="reset_estimates" class="">reset</button>
    </div>

</div>
{% endblock %}
